body{
    font-family:"Roboto", sans-serif;
    font-style: normal;
    color: #2C2C2C;
    background: #FEFEFE;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}
   /*-------header------*/
.nav-link {
 font-size: 14px;
 font-weight: 400;
 line-height: normal;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active{
    color:#BBF330;
    text-decoration: underline;
}

.nav-button {
    cursor: pointer;
    font-family: Roboto;
    background:#BBF330;
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
}
.nav-button:hover,
.nav-button:focus,
.nav-button:active{
 background: #FFE450;
}
/*------------------*/

/*-------salad------*/

.section-salad{}

.salad-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 1,2;
}

.salad-text{
 font-size: 16px;
 line-height: 1,5;
}

.salad-btn {
    font-family: Roboto;
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    line-height: 1,5;
    align-items: center;
    cursor: pointer;
    background:#BBF330;
}

.salad-btn:hover,
.salad-btn:focus,
.salad-btn:active{
    background: #FFE450;
}

.salad-img{}
/*------------------*/

/*-------apple------*/

.section-apple{
    background: #FFE550;
}

.apple-img {
backgrou: #FEFEFE;
}

.apple-title {
 font-size: 42px;
 font-weight: 700;
 line-height: 1,2;
}

.apple-text {
 font-size: 16px;
 line-height: 1,5;
}
.apple-list{}

.apple-item{}

.apple-img-icon{
background: #FEFEFE;
}
.apple-icon {
 font-size: 18px;
 font-weight: 700;
 line-height: 1,40;
}

.apple-icon-text {
 font-size: 14px;
 font-weight: 400;
 line-height: 1,5;
}
.apple-button{
  background: #FFF;  
 font-family: Roboto;
 font-size: 13px;
 font-weight: 500;
 line-height: 1,5;
 justify-content: center;
 align-items: center;
 cursor: pointer;
}

.apple-button:hover,
.apple-button:focus,
.apple-button:active{
 background: #BBF330;
} 
/*------------------*/

/*-------menu------*/
.section-menu {}

.menu-title {
 text-align: center;
 font-size: 42px;
 font-weight: 700;
 line-height: normal;
}

.menu-title-text {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-list {}

.menu-list-item {}

.menu-list-img {}

/*------------------*/

/*-------coment------*/

.coment {
    background: #FFE550;
}

.coment-title {
 font-size: 42px;
 font-weight: 700;
 line-height: normal;
}

.coment-title-text {
 font-size: 16px;
 line-height: normal;
}

.coment-list {}

.coment-list--item {}

.coment-list-text {
 font-size: 18px;
 font-weight: 700;
 line-height: normal;
}

.coment-list-name {
 font-size: 14px;
 font-weight: 500;
 line-height: 1,5;
}

.coment-list-name-text {
 font-size: 14px;
 font-weight: 400;
 line-height: 1,5;
}
/*------------------*/

/*-------banan------*/

.section-banan {}

.banan-img {}

.banan-title {
 font-size: 42px;
 font-weight: 700;
  line-height: 1,2;
}

.banan-title-text {
 font-size: 16px;
 font-weight: 400;
 line-height: 1,5;
}

.banan-btn {
 font-family: Roboto;
 font-size: 13px;
 font-weight: 500;
 line-height: 1,5;
 justify-content: center;
 align-items: center;
 background: #BBF330;
 cursor: pointer;
}
.banan-btn:hover,
.banan-btn:focus,
.banan-btn:active {
background: #FFE450;
}

/*------------------*/

/*------footer-------*/

.footer {}

.footer-list-menu {}

.footer-item-menu{}

.footer-link-menu {
 color: #2C2C2C;
 font-size: 14px;
 font-weight: 400;
 line-height: normal;
}

.footer-link-menu:hover,
.footer-link-menu:focus,
.footer-link-menu:active {
    color: #BBF330;
    text-decoration: underline;
}

.footer-text-item {
 font-size: 14px;
 font-weight: 500;
 line-height: 1,5;
}
.footer-text {
 font-size: 12px;
 font-weight: 400;
 line-height: normal;
 color: #2C2C2C;
}
.footer-btn {
 font-size: 13px;
 font-weight: 500;
 line-height: 1,5;
 border: 0.854px solid #7EB101;
 cursor: pointer;
}

.footer-btn:hover,
.footer-btn:focus,
.footer-btn:active {
 border: 2px solid #FFE450;
}
.footer-list-info{}

.footer-item-info{}

.footer-link-info {
 color: #7EB101;
 font-size: 12px;
 font-weight: 400;
 line-height: normal;
 text-decoration: underline;
}
.footer-link-info:hover,
.footer-link-info:focus,
.footer-link-info:active{
    
}
